#listen=udp:192.168.2.132:5070
#listen=udp:127.0.0.1:5060
#listen=udp:10.163.73.34:5070
#listen=udp:localhost:5070

#listen=udp:192.168.2.148:5060

#---------------------------------
#HomeOffice
#alias="192.168.2.149"

#HomeOffice2
alias="192.168.2.148"

#Büro
#alias="192.168.57.204"

#---------------------------------

#listen=udp:192.168.168.3:5060
#alias=192.168.168.3


###!define WITH_MYSQL
#!define WITH_PGSQL
#!define WITH_AUTH
#!define WITH_USRLOCDB
#!define WITH_NAT

#!define WITH_RTPENGINE

### Basic Kemi
###!define WITH_IPAUTH
###!define WITH_ANTIFLOOD
###!define WITH_ACCDB

###!define WITH_CFGPYTHON3S
###!define WITH_DEBUG


