#!KAMAILIO

loadmodule "db_mysql.so"
loadmodule "app_python3.so"
loadmodule "sl.so"
loadmodule "rtpengine.so"

loadmodule "tm.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "auth.so"
loadmodule "auth_db.so"

modparam("app_python3", "load", "/etc/kamailio/kamailio.py")

request_route {
    python_exec("ksr_request_route");
}
